<div className="home-page">
    <h1>Welcome to Superhero Search!</h1>
    <p>Look up your favourite heroes right here!</p>
    <div className="options">
        <Link to="/createaccount" placeholder='Create Account'/>
        <Link to="/signin" placeholder='Sign In'/>
    </div>
    <form #searchForm= "ngForm" className="search-bar">
        <input [(ngModel)]= "name" type="text" id="name_input" placeholder="Search Superhero Name">
        <input [(ngModel)]="race" type="text" id="race_input" placeholder="Race">
        <input [(ngModel)]="power" type="text" id="power_input" placeholder="Powers">
        <input [(ngModel)]="publisher" type="text" id="publisher_input" placeholder="Publisher">
        <button (click) = "searchSuperheroes()">Search</button>
    </form>
    <ol id="search_results">
        <li *ngFor='let result of searchResults'>{{ result }}</li>
    </ol>
</div>